.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(122, 102, 102);
    background: rgb(236, 232, 232);
}
.meetContainer {
    display: flex;
    padding-inline: 20px;
    height: 80vh;
    gap: 10vw;
    justify-content: center;
}

.leftPanel {
    height: 100%;
    display: flex;
    flex-direction: column; /* stack items vertically */
    justify-content: center;
    align-items: flex-start; /* left align */
    gap: 20px;
}

.rightPanel {
    display: flex;
    align-items: center;
}

.rightPanel >img {
    width: 30vw;
    height: auto;
}

.profileWindow {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30%;
    height: 60%;

    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;

}